<div>Name: <%= @item.name %></div>
<div>Product code: <%= @item.product_code %></div>
<div>Description: <%= @item.description %></div>
<div>Quantity: <%= @item.quantity %></div>
<div>Price: <%= @item.price %></div>

<%= link_to 'Supplier', supplier_path(@supplier) %>
<%= link_to 'Dashboard', dashboard_path %>
