<div>Name: <%= @supplier.name %></div>
<div>Email: <%= @supplier.email %></div>
<%= @supplier.phone %>
<%= @supplier.website %>

<%= link_to 'Edit', edit_supplier_path(@supplier) %>
<%= link_to 'Delete', supplier_path(@supplier), data: { confirm: 'Are you sure?', method: :delete } %>
<%= link_to 'Dashboard', dashboard_path %>
<%= link_to 'Add Item', new_supplier_item_path(@supplier) %>
